:root {
  --ct-width: 100vw;
}

body {
  margin: 0;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}